/*
 * IE 6.0 specific style
 */
#sideBarLeft ul
	{
	margin: 0;
	padding: 0;
	border-bottom: #978e7c 1px solid;
	width: 190px;
	}
/*
 * We need to shave off a pixel from the width of the ul.  This then renders
 * list inside this columns bg image.
 */
#sideBarLeft > ul
	{
	width: 189px; 
	}

/*
 * IE fix for additional padding that otherwise get's rendered between list items
 */
#sideBarLeft ul li
	{
	height: 1%;
	margin: 0;
	padding: 0;
	list-style-type: none;
	}

#rightColumnBg > #sideBarLeft
	{
	height: auto;
	}
	
#sideBarLeft ul li a, #sideBarLeft ul li a:visited
	{
	display: block;
	border-top: #978e7c 1px solid;
	padding: 5px 10px;
	background-image: url(sidenav.bg.gif);
	background-position: bottom;
	background-repeat:repeat-x;
	background-color: #fffbf7;
	color: #59503e;
	text-decoration: none;
	font-weight: bold;
	}
	
#sideBarLeft ul li a:hover
	{
	color: #000000;
	text-decoration: underline;
	}
